.convert-btn{
    text-align: center;
    margin-top: 10px;
   button{
       background-color: rgba(255, 255, 255, 0.438);
       height: 30px;
       border-radius: 5px;
       box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
   }
   button:hover{
       background-color: rgba(255, 255, 255, 0.76);
   }
}