* {
    box-sizing: border-box;
  }
  body{
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(51, 17, 51);
    background-image: url('../../imgs/background.jpeg');
    .app{
      background-size: cover;
    }
  }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-weight: normal;
  padding: 0;
}
button, a{
  cursor: pointer;
}
